@import "../core/style/globals/all";

.dashboardContainer {
  background-color: #000;
  height: 100vh;
  width: 100%;
  #top {
    height: calc(10% - 3px);
  }
  #mid {
    height: 80%;
    #midLeft {
      width: calc(10% - 3px);
    }
    #midCenter {
      width: 80%;
      border: 6px solid #FFF;
    }
    #midRight {
      width: calc(10% - 3px);
    }
  }
  #btm {
    height: calc(10% - 3px);
  }
  .sideSpace {
    width: calc(10% - 3px);
  }
  .centerContainer {
    justify-content: space-between;
    align-items: center;
  }
  #widget-weather {
    // 
  }
  #widget-dateTime {
    text-align: right;
    #date {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  #widget-mediaPlayer {
    // 
  }
}

md-dialog {
  width: 100%;
  height: 100%;
}